@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  background-color: #05080f;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}