@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";
body {
  background-color: #05080f;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

html {
  background-color: #05080f;
}